@model IEnumerable<ViennaFeedback.Models.Feedback>

@{
    ViewData["Title"] = "Feedback";
    ViewData["sasKey"] = "?sv=2016-05-31&si=ro-2017&sr=c&sig=avXb%2BXZu2SCa7rJu9I5%2BST7mQiiAXxVaR3qnNtkEkeI%3D";
    Dictionary<string, string> weeks = ViewData["Weeks"] as Dictionary<string, string>;
    string currentWeek = ViewData["CurrentWeek"] as string;
}
<script src="/js/clipboardJS/clipboard.min.js"></script>

<style>
    .btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}
</style>
<script language="JavaScript">
    new Clipboard('.btn');
</script>

<h2>Smiles & Frowns - week of @currentWeek</h2>
<hr>

<table class="table">
    <thead>
        <tr>
                <th>Week of</th>
                <th></th>
                <th>
                    UTC Time
                </th>                
                <th>
                    Message
                </th>
                <th></th>
                <th>
                </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{int c = 0;}
@foreach (var item in Model) {
    c++;
        <tr>
            @if (c == 1){
            <td rowspan=@Model.Count()>
                @foreach (string key in weeks.Keys) {
                    if (key == currentWeek) {
                        <b>@weeks[key]</b>
                    } else {
                    <div><a href="?dt=@key">@weeks[key]</a></div>
                    }                 
                }          
            </td> 
            }
            <td>
                @if (item.feedbackType.Trim().ToLower() == "frown") {
                    <img src="/images/frown.png" alt="frownie"/>
                } else
                {
                    <img src="/images/smile.jpg" alt="smiley"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventTime)
            </td>
            <td>
                @{ 
                    string email = item.email.Trim(); 
                    if (string.IsNullOrEmpty(email)) {
                        email = "anonymous";
                    }
                }
                @email:<br/>
                @{ string taId = "id" + @item.eventTime.Ticks.ToString(); }
                @Html.TextArea("message", @item.message.ToString().Trim(), new {@id=@taId, rows=8, cols=80})
            </td>
            <td>
                <button class="btn" data-clipboard-target="#@taId">
                    <img src="/images/clippy.svg" width="16px" alt="Copy to clipboard">
                </button>
            </td>
            <td>
                @{ string vstsUrl = string.Format("https://msdata.visualstudio.com/Vienna/_workitems/create/Bug?[System.Tags]={0}&[System.Title]=%5B{0}%5D%3A%20%3Ctitle%3E", item.feedbackType.ToString().Trim()); }
                <a href="@vstsUrl"><img src="/images/vsts.png" width="20px" alt="vsts"></a>
            </td>
            <td>
                @if (!String.IsNullOrEmpty(item.screenshot.Trim())) {
                    string url = @item.screenshot.Trim() + ViewData["sasKey"];
                    <a href="@url" target="_new"><img src="/images/screenshot.png" alt="screenshot" width="30px"></a>
                } 
            </td>
            <td>                
                @if (!String.IsNullOrEmpty(item.email.Trim())) {
                    <a href="mailto:@item.email?Subject=Re%3A%20Azure%20ML%20Workbench%20Feedback"><img src="/images/email.png" width="30px"></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>