@model IEnumerable<ViennaFeedback.Models.Feedback>

@{
    ViewData["Title"] = "Feedback";
    ViewData["sasKey"] = "?sv=2016-05-31&si=ro-2017&sr=c&sig=avXb%2BXZu2SCa7rJu9I5%2BST7mQiiAXxVaR3qnNtkEkeI%3D";
    Dictionary<string, string> weeks = ViewData["Weeks"] as Dictionary<string, string>;
    string currentWeek = ViewData["CurrentWeek"] as string;
}
<script src="/js/clipboardJS/clipboard.min.js"></script>

<style>
.myLink {
}
</style>
<script language="JavaScript">
    new Clipboard('.myLink');
</script>

<h2>Smiles & Frowns - week of @currentWeek</h2>
<hr>

<table class="table">
    <thead>
        @if (Model.Count() > 0) {
            <tr>
                <th>Week of</th>
                <th></th>
                <th>
                    UTC Time
                </th>                
                <th>
                    Message
                </th>
                <th></th>
            </tr>
        }
    </thead>
    <tbody>


@if (Model.Count() == 0) {
    foreach (string key in weeks.Keys) {
        if (key == currentWeek) 
        {
            <b>@weeks[key]</b>
        } else 
        {
            <div><a href="?dt=@key">@weeks[key]</a></div>
        }                 
    }
}


@{int c = 0;}
@foreach (var item in Model) {
    c++;
        <tr>
            @if (c == 1){
            <td rowspan=@Model.Count()>
                @foreach (string key in weeks.Keys) {
                    if (key == currentWeek) {
                        <b>@weeks[key]</b>
                    } else {
                        <div><a href="?dt=@key">@weeks[key]</a></div>
                    }                 
                }          
            </td> 
            }
            <td>
                @if (item.feedbackType.Trim().ToLower() == "frown") {
                    <img src="/images/frown.png" alt="frownie"/>
                } else
                {
                    <img src="/images/smile.jpg" alt="smiley"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventTime)
            </td>
            <td>
                @{ 
                    string email = item.email.Trim(); 
                    if (string.IsNullOrEmpty(email)) {
                        email = "anonymous";
                    }
                }
                @email:<br/>
                @{ string taId = "id" + @item.eventTime.Ticks.ToString(); }
                @Html.TextArea("message", @item.message.ToString().Trim(), new {@id=@taId, rows=8, cols=80})
            </td>
            <td>
                <div class="myLink" data-clipboard-target="#@taId">
                    <a href="#">Copy to clipboard</a>
                </div>
                
                <div>
                    @{ string vstsUrl = string.Format("https://msdata.visualstudio.com/Vienna/_workitems/create/Impediment?[System.Tags]={1}&[System.Title]=%5B{0}%5D%3A%20%3Ctitle%3E&[System.Description]={2}", item.feedbackType.Trim() + " - " + item.eventTime.ToString().Trim(), item.feedbackType.Trim(), System.Web.HttpUtility.UrlEncode(email + ":" + Environment.NewLine + item.message.Trim())); }
                    <a href="@vstsUrl" target="_new">Create VSO impediment</a>
                </div>

                <div>
                @if (!String.IsNullOrEmpty(item.screenshot.Trim())) {
                    string url = @item.screenshot.Trim() + ViewData["sasKey"];
                    <a href="@url" target="_new">Captured screenshot</a>
                } 
                </div>

                <div>
                @if (!String.IsNullOrEmpty(item.email.Trim())) {
                    string emailUrl = string.Format("mailto:{0}?Subject=Re%3A%20Azure%20ML%20Workbench%20Feedback&body={1}", item.email.Trim(), System.Web.HttpUtility.HtmlEncode(item.message.Trim()));
                    <a href="@emailUrl">Respond with Email</a>
                }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>